@import './common.less';
.peoplePath {
  margin-top: 14px;
  .msg {
    padding: 0 25px;
    display: flex;
    align-items: center;
    background: rgba(252,240,226,1);
    border: 1px solid rgba(255,223,186,1);
    position: relative;
    margin-bottom: 12px;
    .icon {
      width: 16px;
      height: 16px;
      background: url('../images/peopleInfo/icon_message.png') center center no-repeat;
      margin-right: 10px;
    }
    .text {
      line-height: 40px;
      color: #393939;
      span {
        color: #FA8E9A;
        &:last-child {
          color: #F5A145;
        }
      }
    }
    .btn {
      width: 75px;
      height: 25px;
      line-height: 23px;
      border: 1px solid rgba(39,112,238,1);
      border-radius: 13px;
      text-align: center;
      margin-left: 60px;
      cursor: pointer;
      color: #2770EE;
      &:hover {
        background: #2770EE;
        color: #fff;
      }
    }
    .del {
      width: 20px;
      position: absolute;
      right: 25px;
      cursor: pointer;
      &:hover {
        &::before {
          background: rgb(112, 112, 112);
        }
        &::after {
          background: rgb(112, 112, 112);
        }
      }
      &::before {
        content: '';
        display: inline-block;
        width: 2px;
        height: 16px;
        transform: rotate(-45deg);
        background: rgba(171,171,171,1);
        margin-left:10px;
        
      }
      &::after {
        content: '';
        display: inline-block;
        width: 2px;
        height: 16px;
        transform: rotate(45deg);
        background: rgb(171, 171, 171);
        margin-left: -2px; 
      }
    }
  }
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    height: 62px;
    padding: 0 23px;
    border-bottom: 1px solid rgba(237,237,237,1);
    justify-content: space-between;
    border-bottom:1px solid rgba(237,237,237,1);
    .name {
      font-size: 18px;
      color: rgba(39,112,238,1);
      &::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 17px;
        background: rgba(39,112,238,1);
        border-radius: 2px;
        margin-right: 8px;
        vertical-align: bottom;
      }
    }
  }
  .mapContainer{
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(235,238,243,1);
    height: 500px;
    margin-bottom: 20px;
    .pathMap {
      position: relative;
      flex: 1;
      margin-bottom: 5px;
      .nodata {
        z-index: 1;
        position: absolute;
        left: calc(50% - 70px);
        top: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .content {
          width: 140px;
          line-height: 32px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F5DCDC;
          border: 1px #F5BBBC solid;
          border-radius: 4px; 
          .icon {
            width: 16px;
            height: 16px;
            background: url('../images/peoplePath/pathNoData.png');
          }
          span {
            color: #F56C6D;
            font-size: 14px;
            margin-left: 10px;
          }
        }
        .arrow {
          position: relative;
          width: 10px;
          height: 10px;
          background: #F5DCDC;
          transform: rotate(45deg);
          border-right: 1px #F5BBBC solid;
          border-bottom: 1px #F5BBBC solid;
          margin-top: -5px;
        }
      }
      .legends{
        z-index: 1;
        position: absolute;
        top: 17px;
        left: 10px;
        height: 24px;
        background: rgba(255,255,255,1);
        display: flex;
        align-items: center;
        padding: 0 15px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        .normal {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: rgba(117,190,67,0.8);
        }
        .abnormal {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: rgba(244,153,48,0.8);
        }
        .transboundary {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: rgba(255,31,31,0.8);
        }
        span {
          margin: 0 5px;
          font-size: 12px;
          color: #333333;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .screeningConditions {
        z-index: 1;
        position: absolute;
        top: 11px;
        right: 10px;
        height: 37px;
        width: 307px;
        background: rgba(255,255,255,1);
        opacity: 0.9;
        display: flex;
        align-items: center;
        padding: 0 7px;
        
        .abnormalCheckbox {
          height: 26px;
          width: 100px;
          border: 1px rgba(237,237,237,1) solid;
          line-height: 26px;
          padding: 0 10px;
        }
        .styleSelect {
          margin-left: 20px;
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
            width: 50px;
          }
        }
      }
    }
  }
  .tableContainer {
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(235,238,243,1);
    .pathTable {
      padding: 17px 23px;
    }
  }

  .has-gutter {
    th {
      padding: 0;
      line-height: 42px;
    }
  }
  .pathTable {
    .page {
      margin-top: 20px;
      text-align: center;
    }
  }
  .abnormalCheckbox {
    .el-checkbox{
      color: #333333;
      .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #333333;
    }
    }
  }
  .el-select-dropdown {
    border: none;
    .el-scrollbar {
      .el-select-dropdown__list {
        padding: 5px 0;
        .el-select-dropdown__item {
          color: rgba(172,172,172,1);
          padding-left: 15px;
          &.hover {
            background: rgba(39,112,238,1) !important;
          }
        }
      }
    }
  }
  .mapboxgl-ctrl-top-left {
    bottom: 10px;
    top: auto;
    button {
      width: 20px;
      height: 20px;
      .mapboxgl-ctrl-compass-arrow {
        width: 10px !important;
        height: 10px !important;
      }
    }
  }
  .mapboxgl-marker-anchor-center {
    cursor: pointer;
  }
  .mapboxgl-ctrl-bottom-left {
    display: flex;
    flex-direction: column;
    .mapboxgl-ctrl-group {
      background: transparent;
      box-shadow: none;
      padding: 2px;
      .container {
        background: #fff;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.11);
        height: 30px;
        width: 30px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background: rgb(241, 241, 241)
        }
        &.customRefreshBtn {
          margin-top: 10px;
          background-image: url('../images/peoplePath/icon_location.png');
          background-position: center;
          background-repeat: no-repeat;
          &:hover {
            background-image: url('../images/peoplePath/icon_location_blue.png');
          }
        }
        &.fullscreenContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          .mapboxgl-ctrl-icon {
            background-image: url('../images/peoplePath/icon_fullScreen.png');
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            border: 0;
            outline: 0;
            padding: 0;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
              background-color: rgb(241, 241, 241);
              background-image: url('../images/peoplePath/icon_fullScreen_blue.png');
            }
            &.mapboxgl-ctrl-shrink {
              margin: auto;
              background-image: url('../images/peoplePath/icon_shrink.png');
              &:hover {
                background-image: url('../images/peoplePath/icon_shrink_hover.png');
              }
            }
          }
        }
      }
    }
  }
  .mapboxgl-ctrl-bottom-right {
    .mapboxgl-ctrl-zoom-in {
      background-image: url('../images/peoplePath/icon_bigger.png');
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        background-image: url('../images/peoplePath/icon_bigger_blue.png');
      }
    }
    .mapboxgl-ctrl-zoom-out {
      background-image: url('../images/peoplePath/icon_smaller.png');
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        background-image: url('../images/peoplePath/icon_smaller_blue.png');
      }
    }
  }
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip  {
    border: 10px transparent solid;
    border-bottom-color: rgba(173, 180, 187, 0.7);
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip  {
    border: 10px transparent solid;
    border-top-color: rgba(173, 180, 187, 0.7);
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip  {
    border: 10px transparent solid;
    border-left-color: rgba(173, 180, 187, 0.7);
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip  {
    border: 10px transparent solid;
    border-right-color: rgba(173, 180, 187, 0.7);
  }
  .mapboxgl-popup-content {
    border: 5px #A0A7B0 solid;
    background: rgba(9,32,64,1);
    border-radius: 0;
    opacity: 0.7;
    position: relative;
    h1 {
      color: #fff;
      font-size: 12px;
      &.address {
        margin-bottom: 5px;
        &::before {
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url('../images/peoplePath/icon_location_small.png');
          vertical-align: middle;
          margin-right: 8px;
          margin-bottom: 2px;
        }
      }
      &.risk {
        &::before {
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url('../images/peoplePath/icon_warning.png');
          vertical-align: middle;
          margin-right: 8px;
          margin-bottom: 2px;
        }
      }
    }
    .left-top {
      border-left: 2px rgba(9,32,64,1) solid;
      border-top: 2px rgba(9,32,64,1) solid;
      width: 10px;
      height:10px;
      position: absolute;
      left: -8px;
      top: -8px;
    }
    .right-top {
      border-right: 2px rgba(9,32,64,1) solid;
      border-top: 2px rgba(9,32,64,1) solid;
      width: 10px;
      height:10px;
      position: absolute;
      right: -8px;
      top: -8px;
    }
    .left-bottom {
      border-left: 2px rgba(9,32,64,1) solid;
      border-bottom: 2px rgba(9,32,64,1) solid;
      width: 10px;
      height:10px;
      position: absolute;
      left: -8px;
      bottom: -8px;
    }
    .right-bottom {
      border-right: 2px rgba(9,32,64,1) solid;
      border-bottom: 2px rgba(9,32,64,1) solid;
      width: 10px;
      height:10px;
      position: absolute;
      right: -8px;
      bottom: -8px;
    }
  }
}